@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playball&family=Roboto&display=swap');
:root{
    --pink:#c94350;
    --white: #fff;
    --light-pink:#FAC3BE;
    --footer_header_color:black;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* background-color:#FFEBCC ; */
    font-family: sans-serif;
    height:100vh;
}
img{
    width:100%;
}
header{
    background-color: var( --footer_header_color);
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0.9rem 2rem;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.official-logo{
    width: 100px;
    cursor: pointer;
}
.navigation-bar{
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
}
.header-menu{
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    padding: 0.2rem;
    border-radius: 5px;
    gap: 1rem;
}
.header-menu__item{
    display: grid;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--pink);
}
.header-menu__item:hover{
    border-bottom: 1px solid var(--white);
}
option{
    color:var(--pink);
   
}
select{
    border: none;
    outline: none;
    background-color:var(--footer_header_color);
    color: var(--pink);
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.fas{
    color: var(--pink);
}
main{
    padding:20px;
    /* overflow: auto; */
    background-color:#FFEBCC ;
}
.page-title{
    margin:20px;
    margin-left:95px; 
    color:var(--pink);
    font-family: 'Playball', cursive;
    font-size: 30px;
}
.cake-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    grid-auto-rows:400px ;
    gap:30px;
    place-content: center;
   
}
.cake-card{
    display: grid;
    grid-template-rows: auto 100px;
    border:solid 1px rgba(255, 153, 153, 0.2);
    border-radius: 10px;
    background-color: var(--white);
    cursor:pointer;
    
}
.cake-card:hover{
    transform: scale(1.1);
    transition: 1s;
    background-color: #F7F7F7;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.cake-card img{
    border-radius: 10px;
    /* width:200px; */
    height:100%;
}
.cake-info{
    display: grid;
    grid-template-rows: 50px auto;
    padding:10px;
    /* border:solid 1px black; */
    place-content: start;
    gap:10px;
}
.cake-info h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size:18px;
    /* color:var(--pink); */
    color:#212121;
}
.price{
    font-weight: bold;
    color:#A9333A;
    font-size:20px;
}
footer{
    background-color: var(--footer_header_color);
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #c94350;
    font-family: 'Roboto', sans-serif;
}
.logo-title{
    font-family: 'Playball', cursive;
}
.social-media{
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
}
.social-media a{
    text-decoration: none;
    color: #c94350;
    font-weight: bold;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 0.5rem;
}
.social-media img{
    width: 20px;
}

/*Details Page*/
.main-container{
    display: grid;
    grid-template-columns: 500px 600px;
    justify-content: center;
    gap:30px;
    padding: 20px;
    /* background-color: white; */
    width:100%;
    height:100%;
}

.image-container img{
    border:solid 1px rgba(0, 0,0, 0.2);
    border-radius: 10px;
}
.cake-prop-container{
    display: grid;
    grid-template-rows: 85px 70px auto 50px;
    height:55vh;
    /* border:solid 1px black; */
    padding:20px;
    gap:10px;
    justify-content: start;
}
.cake-prop-container h1{
   font-size: 37px;
   text-align: center;
   font-family: 'Courgette', cursive;
   font-weight: lighter;
   color:#6B011F;
}
.price-type-likes-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap:25px;
    justify-content: center;
    /* border:solid 1px black; */
}

.cake_price{
    padding:17px 20px;
    color:var(--pink);
    font-size: 25px;
    font-weight: bold;
}
.cake_type{
    font-family: 'Playball', cursive;
    color:var(--pink);
    font-size: 25px;
    padding:15px 20px;
    
}
.cake_likes{
    font-family: 'Roboto', sans-serif;
    /* color:var(--white); */
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color:var(--pink);
}
.cake_desc{
    border:solid 1px rgba(201, 67, 80, 0.3);
    color:#4A403A;
    border-radius: 10px;
    padding:15px  20px;
    width: 50ch;
    justify-self: center;
    line-height: 1.5;
    margin-bottom: 20px;
}
.order_btn{
    width:50%;
    justify-self: center;
    border-radius: 30px;
    border:none;
    background-color: var(--pink);
    color:var(--white);
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
.like-section{
    /* border:solid 1px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    padding:20px;
}
/*Filled heart icon*/
.fas{
    font-size: 20px;
    margin-right:5px;
    color: var(--pink);
    cursor: pointer;
}
/* .far{
    font-size: 20px;
    margin-right:5px;
    color: var(--pink);
} */


/*Modal styling*/
.modal-wrapper{
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: #00000030;
    backdrop-filter: blur(2px);
    display: grid;
    place-items: center;
}
.sign-in-modal{
    display: grid;
    border:none;
    border-radius: 10px;
    background-color: var(--white);
    padding:30px;
    gap:25px;
    width:300px;
    place-items: center;
    position:relative;
}
.modal-title{
    font-size: 25px;
    color:#6B011F;
}
.sign-in-modal span{
    font-size: 10px;
}
.sign-in-form{
    display: grid;
    gap:15px;
}
input{
    display: block;
    outline: none;
    padding: 2px 5px;
    border-radius: 10px;
    border:none;
    outline:solid 1px var(--pink);
    margin-top:5px;
}
label{
    font-size: 12px;
   /* color:#6B011F; */
   color:#4A403A;
}
.close-btn{
    position: absolute;
    top:5px;
    right:8px;
    font-size: 12px;
    color:#4A403A;
}
.sign-in-btn{
    border-radius: 10px;
    background-color: var(--pink);
    font-size: 14px;
    padding:5px 0;
    color:white;
    font-weight: bold;
    margin-top:10px;
}
.no-acc{
    color:#4A403A;
}
.register{
    color:var(--pink);
    cursor: pointer;
}
.register:hover{
    text-decoration: underline;
}
.register-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap:5px;
}